<!DOCTYPE html>
<html lang="en">
<head>
	<title>CSJB: Error {{err}}</title>
	<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:black|Red+Hat+Text:medium" rel="stylesheet">
</head>
<body style="background-color: #003b3b">
	<div style='height: 75vh;
							position: absolute;
							top: 50%;
							left: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%); /* IE 9 */
							-webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
							background-color: #005e5e;
							border-radius:30px;'>
	    <img style="display: block;
									margin:0;
									max-width: 90%;
								  max-height: 50%;"
			     src="https://www.crowdsourcejukebox.com/content/images/tumbeasts-yellow.png",>
			<div style="display: block; height: 10vh; width: 100%; text-align: center;">
				<h1 style="color: white; font-family: Red Hat Display; font-size: 4em;line-height: 0;">{{err}}</h1>
				<h2 style="color: white; font-family: Red Hat Text; font-size: 2em; line-height: 0.6;">{{message}}</h1>
			</div>
			<!--{{exception}}-->
	</div>
</body>
</html>
