<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Crowdsource Jukebox</title>
	<meta name="description" content="A webapp to crowdsource your party playlist on the fly with Spotify.">
	<meta name="author" content="James Taliaferro">
	<meta name="google-site-verification" content="gBX40iiLUMaxn4touthZcFuslMmqupNKicGWfpSffBU" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://www.crowdsourcejukebox.com/content/css/index_v2.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400i,500,700&display=swap&subset=latin-ext" rel="stylesheet">
	<script src="https://kit.fontawesome.com/263f47cf9d.js" crossorigin="anonymous"></script>
	<script>
		var id = {{init_id|safe}}
		var spotify_url = "https://accounts.spotify.com/authorize?client_id=e098696a1beb48fb9db404c76148a2f7&redirect_uri=https%3A%2F%2Fwww.crowdsourcejukebox.com%2Flisten%2F&scope=user-read-playback-state%20playlist-read-private%20playlist-read-collaborative%20streaming%20user-modify-playback-state%20user-read-private%20user-read-email&response_type=token&state="
		$(document).ready(function(){
			$("#sessionID").html(id.display)
			$("#auth").attr("href", spotify_url + id.privateID)

			$(".option").click(function(){
				$(this).find(".switch").toggleClass("left").toggleClass("right")
			});

			setInterval(function(){
				$("#reroll").click();
			}, 285000);

			$("#reroll").click(function(){
				var url = "https://www.crowdsourcejukebox.com/api/"
				var data = {req:"newID", oldID: id.privateID}
				$("#reroll i").addClass("fast-spin")
				setTimeout(function(){
					$("#reroll i").removeClass("fast-spin")
				}, 300)
				$.post(url, data , function(data, status){
						id = data
						$("#sessionID").html(data.display)
						$("#auth").attr("href", spotify_url + id.privateID)
				});
			});
		});
	</script>
</head>
<body>
	<div id = 'content'>
		<div id="logo_container">
			<img id = "logo" alt="Crowdsource Jukebox Logo" src="https://www.crowdsourcejukebox.com/content/images/lockupcolor.png">
		</div>
		<div id="controls">
			<div id="control_box">
				<h1>your party name is:</h1>
				<span id="reroll"><span id="sessionID">initsessid</span><i class="fas fa-undo "></i></span>
				<br>
				<br>
				<h1>log in with <i class="fab fa-spotify"></i> Spotify:</h1>
				<a id="auth" style="text-decoration: inherit;">start</a>
			</div>
			<a href="about" style="font-style: italic;``"><h1>what is this thing?</h1></a>
		</div>
		<div id="byline">
			<a href="https://www.jamestali.com/">
				<h2 style="font-style: italic"><br>built by James Taliaferro</h2>
			</a>
			<h3><a href="https://github.com/JamesTaliaferro/crowdsourcejukebox">fork on GitHub</a></h3>
		</div>
	</div>
</body>
</html>
