<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">

<head>
	<meta name="robots" content="noindex, nofollow" />
	<meta name="author" content="James Taliaferro">

	<title>Crowdsource Jukebox</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://sdk.scdn.co/spotify-player.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

	<link href="https://www.crowdsourcejukebox.com/content/css/player.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400i,500,700&display=swap&subset=latin-ext" rel="stylesheet">


	<script>
		var hashlist = window.location.hash.split("&")
		var hashobj = {}
		hashlist.forEach(function(kv){
			hashobj[kv.split("=")[0].replace("#", "")] = kv.split("=")[1]
		});

		$.ajax({
			url: "https://api.spotify.com/v1/me/",
			type: "GET",
			beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + hashobj.access_token );},
			success: function(data, status) {
				// console.log(data);
				hashobj.id = data.id;
				hashobj.product = data.product;
			}
		});

		var session = {};

		function playSong(uri){
			console.log("Playing " + uri)
			$.ajax({
				url: "https://api.spotify.com/v1/me/player/play?device_id=" + hashobj["device_id"],
				type: "PUT",
				data: '{"uris": ["'+ uri + '"]}',
				beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + hashobj.access_token );},
				success: function(data, status) {
					updateTable(hashobj.publicID, 7);
				}
			});
		}

		function getList(id, number){
			var url = "https://www.crowdsourcejukebox.com/api/"
			var data = {req:"setlist", publicID: id, "number": number}
			$.post(url, data , function(output, status){
					playlist = output;
			});
		}

		function playNext(){
			var url = "https://www.crowdsourcejukebox.com/api/"
			var data = {req:"playnext", privateID: hashobj.state}
			$.post(url, data , function(output, status){
					playSong(output.uri)
			});
		}

		function updateTable(id, number){
			var url = "https://www.crowdsourcejukebox.com/api/"
			var data = {req:"setlist", publicID: id, "number": number}
			$.post(url, data , function(output, status){
				// console.log(output);
				if(output.length == 0){
					$("#setlist_table").hide();
					return
				}
				ids = output.map(x => x.uri.substring(14)).join(",")
				$.ajax({
					url: "https://api.spotify.com/v1/tracks/?ids=" + ids,
					type: "GET",
					beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + hashobj.access_token );},
					success: function(object) {
						tracks = object;
						var newtable = "<tr><td></td><td><h2 style='float: left; font-weight: 500;'>up next:</h2></td></tr>";
						object.tracks.forEach(function(element){
							newtable += "<tr class = 'track'>"

							newtable += "<td class='covericon-cell'>"
							newtable += "<img class='covericon' src='" + element.album.images[2].url + "'>"
							newtable += "</td>"

							newtable += "<td class='trackinfo'><span>"
							newtable += "<span class='trackinfo-title'>"+element.name+"</span><br>"
							newtable += "<span class='trackinfo-artist'>"+element.artists[0].name+"</span>"
							newtable += "</td>"

							newtable += "</tr>"
							$("#setlist_table").html(newtable);
							$(".trackinfo-title").each(function(){
								while($(this).height() >= (1.5 * Number($(this).css("line-height").replace("px", "")))){
									$(this).html(ellipsize($(this).html()))
								}
							})
							$("#setlist_table").show();
							return
						});
					}
				});
			});
		}

		function ellipsize(text){
			return text.split(" ").slice(0, -1).join(" ").concat("...")
		}

		function popup(message, img){
			$("#settings_box").hide()
			$(".cssload-container").hide();
			$("#blocker-icon").attr("src", "https://www.crowdsourcejukebox.com/content/images/" + img + ".png");
			$("#blocker_text").html(message);
			$("#blocker-icon").show();
			$("#blocker_text").show();
			$("#blocker").fadeIn();
		}

		function updateResults(items){
			var newtable = "";
			items.forEach(function(element){
				newtable += "<tr class = 'track result' data-uri='" + element.uri + "' data-owner='" + element.owner.id + "'>"
				newtable += "<td class='covericon-cell'>"
				if(element.images.length != 0){
					// console.log(element);
					newtable += "<img class='covericon' src='" + element.images[0].url + "'>"
				}
				else{
					newtable += "<img class='covericon' src='https://www.crowdsourcejukebox.com/content/images/rest.png'>"
				}
				newtable += "</td>"
				newtable += "<td class='trackinfo'><span>"
				newtable += "<span class='trackinfo-title'>"+element.name+"</span><br>"
				newtable += "</td>"

				newtable += "</tr>"
				$("#fallback_results").html(newtable);
			});
			$(".result").click(function(){
				if($(this).hasClass("selected")){
					$(this).removeClass("selected")
					selected_playlist = null;
				}
				else{
					$("#fallback_pane .track.selected").removeClass("selected")
					$(this).addClass("selected")
					selected_playlist = {uri: $(this).attr("data-uri"), user: $(this).attr("data-owner")}
				}
			});
		}

		window.onSpotifyWebPlaybackSDKReady = () => {
		  // const token = 'BQAzhkYUQBr3uWLzxPj_DMq8FtSAuhqlhXzseFj1N6hxkhKjZhvCC2LX4CLz4x2mcTGG0KeCAZgi6rbQ7oQksMYMRpjxXAPzBOda1qlmqQa0Denr7lBzQjJQUp31NMsFk_TX3LNu3Oc0_D_6HvzQAlohmQLfe3dgln_oYJgO2aRdb3uLPhPZ51i5Ew';
			const token = hashobj.access_token
		  const player = new Spotify.Player({
		    name: 'Crowdsource Jukebox',
		    getOAuthToken: cb => { cb(token); }
		  });

		  // Error handling
		  player.addListener('initialization_error', ({ message }) => {
				console.error(message);
				popup("Initialization Error<br>Try running in Firefox,<br>or reloading the page.", "fermata");
			});
		  player.addListener('authentication_error', ({ message }) => {
				console.error(message);
				popup("Authentication Error<br>please go back to <a style='text-decoration: underline;' href='https://www.crowdsourcejukebox.com'>the homepage</a><br>to re-authenticate.", "segno");
				var spotify_auth = "https://accounts.spotify.com/authorize?client_id=e098696a1beb48fb9db404c76148a2f7&redirect_uri=https%3A%2F%2Fwww.crowdsourcejukebox.com%2Flisten%2F&scope=user-read-playback-state%20playlist-read-private%20playlist-read-collaborative%20streaming%20user-modify-playback-state%20user-read-private%20user-read-email&response_type=token&state=" + hashobj.state
				window.location.replace(spotify_auth);
			});
		  player.addListener('account_error', ({ message }) => {
				console.error(message);
				popup("Account error<br>We're not really sure what's going on.<br>This is probably Spotify's problem.", "fine")
			});
		  player.addListener('playback_error', ({ message }) => {
				console.error(message);
				popup("Playback Error<br>Please reload the page, that might help.<br>If you're using Brave, please switch to Chrome or Firefox.<br>(Sorry about that. Blame Spotify.)", "fermata");
			});

		  // Playback status updates
		  player.addListener('player_state_changed', state => {
				console.log(state);
				hashobj.playerstate = state
				var now_playing = state.track_window.current_track
				console.log(now_playing.album.images);
				$("#cover").attr("src", now_playing.album.images[2].url);
				var name = now_playing.name
				if(name.length>30){
					if(name.includes(" - ")){
						name = name.substring(0, name.indexOf(" - "))
					}
				}

				$("#trackname").html(name);
				$("#artist").html(now_playing.artists[0].name)
			});

		  // Ready
		  player.addListener('ready', ({ device_id }) => {
				hashobj["device_id"] = device_id
				$("#blocker_text").fadeOut(500)
				$(".cssload-container").fadeOut(500, function(){
					$("#settings_box").fadeIn();
					$("#fallback_pane").fadeIn();
					$.ajax({
						url: "https://api.spotify.com/v1/users/" + hashobj.id + "/playlists?limit=7&",
						type: "GET",
						beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + hashobj.access_token );},
						success: function(data, status) {
							// console.log(data.items)
							updateResults(data.items)
						}
					});
				});
				playNext()
				var url = "https://www.crowdsourcejukebox.com/api/"
				var data = {req:"public", privateID: hashobj.state}
				$.post(url, data , function(output, status){
					hashobj["publicID"] = output.publicID
					updateTable(hashobj.publicID, 7)

					var voteurl = "csjb.cc/" + output.display
					// console.log(encodeURI(voteurl))

					$("#code").attr("src", "https://api.qrserver.com/v1/create-qr-code/?size=600x600&data=" + encodeURI(voteurl))
					$("#voteurl").html(voteurl)
				});
				setInterval(function(){
					var url = "https://www.crowdsourcejukebox.com/api/"
					var data = {req:"updates", publicID: hashobj.publicID}
					player.getCurrentState().then(state => {
						// console.log(state);
					  if (!state || (state.position == 0 && state.paused)) {
							console.log("next track!")
							playNext();
					  }
						$.post(url, data , function(output, status){
							if(output.update){
								updateTable(hashobj.publicID, 7)
							}
						});
					});


				}, 5000);

				$("#roll").click(function(){
					// console.log("button");
					playNext();
				});
		    console.log('Ready with Device ID', device_id);
		  });

		  // Not Ready
		  player.addListener('not_ready', ({ device_id }) => {
		    console.log('Device ID has gone offline', device_id);
		  });

		  // Connect to the player!
		  player.connect();
		};

		var searchTimeout = null;
		var selected_playlist = null;
		$(document).ready(function(){
			$(".switch_container").click(function(){
				$(this).find(".slider").toggleClass("left").toggleClass("right")
				$(this).find(".track").toggleClass("left").toggleClass("right")
			});
			$("#submit_settings").click(function(){
				request_obj = {"privateID": hashobj.state}
				if($("#fallback_pane").is(":visible")){
					request_obj.req = "setFallback";
					request_obj.user = selected_playlist.user;
					request_obj.uri = selected_playlist.uri;
				}
				else if ($("#switch_pane").is(":visible")) {
					request_obj.req = "settings"
					request_obj.noexplicit = $("#noexplicit").hasClass("right")
					request_obj.songlimit = $("#songlimit").hasClass("right")
					request_obj.voteoff = $("#voteoff").hasClass("right")
					request_obj.captcha = $("#captcha").hasClass("right")
				}
				console.log(request_obj);
				var url = "https://www.crowdsourcejukebox.com/api/"
				var data = request_obj
				$.post(url, data , function(output, status){
					console.log(output);
				});
				$("#settings_box").fadeOut()
				$("#switch_pane").fadeOut()
				$("#fallback_pane").fadeOut()
				$("#blocker").fadeOut()
			});
			$("#settings_button").click(function(){
				$("#settings_box").fadeIn()
				$("#switch_pane").fadeIn()
				$("#blocker").fadeIn()
			});
			$("#fallback_search").keyup(function(){
				if(searchTimeout != null){
					clearTimeout(searchTimeout);
				}
				searchTimeout = setTimeout(function(){
					$.ajax({
						url: "https://api.spotify.com/v1/search?q=" + $("#fallback_search").val().replace(" ", "+") + "&type=playlist&limit=7",
						type: "GET",
						beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + hashobj.access_token );},
						success: function(data, status) {
							// console.log(data);
							updateResults(data.playlists.items)
						}
					})
				},500)
			});

		});


	</script>

</head>
<body>
	<div id="ui_container">
		<div id = 'content'>
				<div id="md_window">
					<img id="cover" src="https://www.crowdsourcejukebox.com/content/images/rest.png"><br>
					<span id="trackname">Nothing playing</span><br>
					<span id="artist">Suggest some songs!</span><br>
					<span class="button" id="roll">&nbsp&nbsp&nbspskip&nbsp&nbsp&nbsp</span>
				</div>
		</div>
		<div id="setlist">
			<img id="logo" src="https://www.crowdsourcejukebox.com/content/images/lockupcolor.png">
			<!-- <h2>Up Next:</h2> -->
			<table id="setlist_table">
			</table>
		</div>
		<div id="vote">
			<div id="vote_window">
				<img id="code" src=""><br>
				<h2 class="vote_header">what do you want to hear next?</h2>
				<h2 class="vote_header"id="voteurl"></h2>
				<span class="button" id="settings_button">&nbsp&nbsp&nbspsettings&nbsp&nbsp&nbsp</span>
			</div>
		</div>
	</div>
	<div id="blocker">
		<div id="blocker-contents">
			<img id="blocker-icon" src="https://www.crowdsourcejukebox.com/content/images/fermata.png">
			<div class="cssload-container">
				<div class="cssload-shaft1"></div>
				<div class="cssload-shaft2"></div>
				<div class="cssload-shaft3"></div>
				<div class="cssload-shaft4"></div>
				<div class="cssload-shaft5"></div>
				<div class="cssload-shaft6"></div>
				<div class="cssload-shaft7"></div>
				<div class="cssload-shaft8"></div>
				<div class="cssload-shaft9"></div>
				<div class="cssload-shaft10"></div>
			</div>
			<h2 id="blocker_text">loading web player...</h2>
			<div style = "display: none;"id="settings_box">
				<div id="switch_pane" style="display: none;">
					<h2>settings:</h2>
					<table>
						<tbody>
							<tr>
								<td class="switch label">forbid explicit songs</td><td class="switch_container"><div class="switch track left"><div id="noexplicit" class="switch slider left"></div></div></td>
							</tr>
							<tr>
								<td class="switch label">one song per guest on the list</td><td class="switch_container"><div class="switch track left"><div id="songlimit" class="switch slider left"></div></div></td>
							</tr>
							<tr>
								<td class="switch label">remove unpopular songs</td><td class="switch_container"><div class="switch track left"><div id="voteoff"  class="switch slider left"></div></div></td>
							</tr>
							<tr>
								<td class="switch label">require captcha to vote</td><td class="switch_container"><div class="switch track left"><div id="captcha" class="switch slider left"></div></div></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="fallback_pane" style="display: none;">
					<h2>pick a fallback playlist:</h2>
					<input type="text" id="fallback_search" placeholder="ex. party, jazz, gorillaz">
					<table id="fallback_results">
					</table>
				</div>
				<div style="text-align: center; width: 100%;">
					<span class="button" id="submit_settings">&nbsp&nbsp&nbspok&nbsp&nbsp&nbsp</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
