lang="en"<!DOCTYPE html>
<htmllang="en">

<meta charset="UTF-8">

<head>
	<title>Crowdsource Jukebox</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://www.crowdsourcejukebox.com/content/css/search.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400i,500,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body>
	<div id="topbar">
		<img id = "logo" src="https://www.crowdsourcejukebox.com/content/images/wordmarkwhite.png">
	</div>
	<div id="content">
		<form method="get">
			<input id="searchbar" name="query" placeholder="find a song..." autocomplete="off" type="search" autofocus>
			<br><br>
			<button type="submit"><span>search➲</span></button>
		</form>
	</div>
	{% if wait %}
	<div class="blocker">
		<div class="modal">
			<h2>
				your host only allows one song per person,<br>
				and you already have a song in the queue.<br><br>
				you can remove your song from the list by<br>
				giving it a "thumbs down".<br><br>
				you can still vote on songs, or<br>
				come back when your song gets played.<br>
			</h2>
			<a href="https://www.crowdsourcejukebox.com/vote/{{publicID}}/"><span id="button_back">back</div></a>
		</div>
	</div>
	{% endif %}
</body>
</html>
