*{
  margin: 0;
  padding: 0;
  font-family: Red Hat Text;
  color: white;
}
body{
  text-align: center;
  background-image: url(https://www.crowdsourcejukebox.com/content/images/concert.jpeg);
  background-position: center;
  background-repeat:norepeat;
}
a{
  color: inherit;
  text-decoration: inherit;
}
#blocker{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#blocker-icon{
  max-height: 8vh;
  display: none;
}

#ui_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#content, #vote, #setlist{
  display: inline-block;
  height: 100vh;
  width: 33.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#content{
  /* background-color: red; */
  background-color:rgba(40,40,40,0.5);
}
#vote{
  /* background-color: yellow; */
  background-color:rgba(40,40,40,0.5);
}
#setlist{
  /* background-color: blue; */
  background-color:rgba(40,40,40,0.9);
}
#content *{
  margin: auto;
}

#logo{
  width: 60%;
  margin: auto;
}

#interaction{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button{
  font-size: 24px;
  cursor: pointer;
  background-color: #e3ac10;
  color: #282828;
  border: none;
  padding: 2px;
  user-select: none;
  font-weight: 500;
  width: 75%;
}

.button:hover{
  border: 2px solid #e3ac10;
  /* font-size: 30px; */
}

#md_window{
  width: 100%;
}

#vote * {
  margin: auto;
}

#cover, #code{
  width: 75%;
  /* height: 200px; */
  padding: 5px;
}

#trackname{
  color: white;
  font-size: 32px;
  font-weight: 500;
}

#artist, #np{
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}

h2{
  color: white;
}
#setlist_table{
  margin: auto;
}

#setlist_table td{
  padding: 2px;
  border-top: 1px solid #AAA;
}

#setlist_table tr:first-child td{
  border-top: none;
}

.trackinfo{
  border-left: 1px solid #AAA;
}

.covericon{
  width: 52px;
  height: 52px;
}
.trackinfo-title{
  font-size: 1.5em;
  margin-bottom: 2px;
}
.trackinfo-artist{
  font-size: 1.25em;
  font-style: italic;
}
.trackinfo-title, .trackinfo-artist{
  font-weight: 400;
  float: left;
  clear: both;
  display: block;
}

.vote_header{
  font-weight: 500;
}

#settings_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settingname{
  padding-top: 5px;
  border-top: 1px solid white;
}

.switch.label.left{
  float: right;
}
.switch.label.right{
  float: left;
}

.switch.track{
  width: 40px;
  border-radius: 10px;
}

.switch.track.left{
  background-color: #2aa198;
}

.switch.track.right{
  background-color: #e3ac10;
}

.switch.slider{
  background-color: #CCCCCC;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

.switch.slider.left{
  float: left;
}
.switch.slider.right{
  float: right;
}

.setting.left{
  float: right;
}
.setting.right{
  float: left;
}


/* Everything after this is the loader */
.cssload-container *, .cssload-container *:before, .cssload-container *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container {
	margin: auto;
  margin-bottom: 5px;
	width: 175px;
	height: 75px;
}
.cssload-container > div {
	float: left;
	background: rgb(227,172,16);
	height: 100%;
	width: 13px;
	margin-right: 3px;
	display: inline-block;
}

.cssload-container .cssload-shaft1 {
	animation-delay: 0.0225s;
		-o-animation-delay: 0.0225s;
		-ms-animation-delay: 0.0225s;
		-webkit-animation-delay: 0.0225s;
		-moz-animation-delay: 0.0225s;
}
.cssload-container .cssload-shaft2 {
	animation-delay: 0.055s;
		-o-animation-delay: 0.055s;
		-ms-animation-delay: 0.055s;
		-webkit-animation-delay: 0.055s;
		-moz-animation-delay: 0.055s;
}
.cssload-container .cssload-shaft3 {
	animation-delay: 0.0775s;
		-o-animation-delay: 0.0775s;
		-ms-animation-delay: 0.0775s;
		-webkit-animation-delay: 0.0775s;
		-moz-animation-delay: 0.0775s;
}
.cssload-container .cssload-shaft4 {
	animation-delay: 0.11s;
		-o-animation-delay: 0.11s;
		-ms-animation-delay: 0.11s;
		-webkit-animation-delay: 0.11s;
		-moz-animation-delay: 0.11s;
}
.cssload-container .cssload-shaft5 {
	animation-delay: 0.1325s;
		-o-animation-delay: 0.1325s;
		-ms-animation-delay: 0.1325s;
		-webkit-animation-delay: 0.1325s;
		-moz-animation-delay: 0.1325s;
}
.cssload-container .cssload-shaft6 {
	animation-delay: 0.165s;
		-o-animation-delay: 0.165s;
		-ms-animation-delay: 0.165s;
		-webkit-animation-delay: 0.165s;
		-moz-animation-delay: 0.165s;
}
.cssload-container .cssload-shaft7 {
	animation-delay: 0.1875s;
		-o-animation-delay: 0.1875s;
		-ms-animation-delay: 0.1875s;
		-webkit-animation-delay: 0.1875s;
		-moz-animation-delay: 0.1875s;
}
.cssload-container .cssload-shaft8 {
	animation-delay: 0.22s;
		-o-animation-delay: 0.22s;
		-ms-animation-delay: 0.22s;
		-webkit-animation-delay: 0.22s;
		-moz-animation-delay: 0.22s;
}
.cssload-container .cssload-shaft9 {
	animation-delay: 0.2425s;
		-o-animation-delay: 0.2425s;
		-ms-animation-delay: 0.2425s;
		-webkit-animation-delay: 0.2425s;
		-moz-animation-delay: 0.2425s;
}
.cssload-container .cssload-shaft10 {
	animation-delay: 0.275s;
		-o-animation-delay: 0.275s;
		-ms-animation-delay: 0.275s;
		-webkit-animation-delay: 0.275s;
		-moz-animation-delay: 0.275s;
}

.cssload-container {
	height: 100px;
}
.cssload-container > div {
	position: relative;
	bottom: 0;
	margin-top: 88px;
	height: 13px;
	animation: cssload-wave 0.825s infinite ease-in-out;
		-o-animation: cssload-wave 0.825s infinite ease-in-out;
		-ms-animation: cssload-wave 0.825s infinite ease-in-out;
		-webkit-animation: cssload-wave 0.825s infinite ease-in-out;
		-moz-animation: cssload-wave 0.825s infinite ease-in-out;
}
.cssload-container .shaft1 {
	animation-delay: -0.825s;
		-o-animation-delay: -0.825s;
		-ms-animation-delay: -0.825s;
		-webkit-animation-delay: -0.825s;
		-moz-animation-delay: -0.825s;
}
.cssload-container .shaft2 {
	animation-delay: -0.77s;
		-o-animation-delay: -0.77s;
		-ms-animation-delay: -0.77s;
		-webkit-animation-delay: -0.77s;
		-moz-animation-delay: -0.77s;
}
.cssload-container .shaft3 {
	animation-delay: -0.715s;
		-o-animation-delay: -0.715s;
		-ms-animation-delay: -0.715s;
		-webkit-animation-delay: -0.715s;
		-moz-animation-delay: -0.715s;
}
.cssload-container .shaft4 {
	animation-delay: -0.66s;
		-o-animation-delay: -0.66s;
		-ms-animation-delay: -0.66s;
		-webkit-animation-delay: -0.66s;
		-moz-animation-delay: -0.66s;
}
.cssload-container .shaft5 {
	animation-delay: -0.605s;
		-o-animation-delay: -0.605s;
		-ms-animation-delay: -0.605s;
		-webkit-animation-delay: -0.605s;
		-moz-animation-delay: -0.605s;
}
.cssload-container .shaft6 {
	animation-delay: -0.55s;
		-o-animation-delay: -0.55s;
		-ms-animation-delay: -0.55s;
		-webkit-animation-delay: -0.55s;
		-moz-animation-delay: -0.55s;
}
.cssload-container .shaft7 {
	animation-delay: -0.495s;
		-o-animation-delay: -0.495s;
		-ms-animation-delay: -0.495s;
		-webkit-animation-delay: -0.495s;
		-moz-animation-delay: -0.495s;
}
.cssload-container .shaft8 {
	animation-delay: -0.44s;
		-o-animation-delay: -0.44s;
		-ms-animation-delay: -0.44s;
		-webkit-animation-delay: -0.44s;
		-moz-animation-delay: -0.44s;
}
.cssload-container .shaft9 {
	animation-delay: -0.385s;
		-o-animation-delay: -0.385s;
		-ms-animation-delay: -0.385s;
		-webkit-animation-delay: -0.385s;
		-moz-animation-delay: -0.385s;
}
.cssload-container .shaft10 {
	animation-delay: -0.33s;
		-o-animation-delay: -0.33s;
		-ms-animation-delay: -0.33s;
		-webkit-animation-delay: -0.33s;
		-moz-animation-delay: -0.33s;
}
.cssload-container .shaft11 {
	animation-delay: -0.275s;
		-o-animation-delay: -0.275s;
		-ms-animation-delay: -0.275s;
		-webkit-animation-delay: -0.275s;
		-moz-animation-delay: -0.275s;
}



@keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(0,167,167);
	}
}

@-o-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(0,167,167);
	}
}

@-ms-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(0,167,167);
	}
}

@-webkit-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(0,167,167);
	}
}

@-moz-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(0,167,167);
	}
}
