*{
  margin: 0;
  padding: 0;
  font-family: Red Hat Text;
}
body{
  text-align: center;
  background-color: darkgray;
  background-image: url(https://www.crowdsourcejukebox.com/content/images/concert.jpeg);
  background-position: top center;
  /* background-repeat:norepeat; */
  overflow-x: hidden;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
a{
  color: inherit;
  text-decoration: inherit;
}

h2{
  color: white;
}

#logo{
  max-height: 90%;
  max-width: 80vw;
}

#topbar{
  position: fixed;
  top: 0;
  height: 10vh;
  background-color: #282828;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
}

#content{
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchcontainer{
  display: flex;
}

button{
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  background-color: #e3ac10;
  border: none;
}
button span, button i{
  font-size: 3.25em;

  color: #282828;


}
.searchcontainer:focus{
  border: none;
}

#searchbar{
  padding: 5px;
  font-size: 3.25em;
  flex: 1;
}

.blocker{
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal{
  background-color: #282828;
  border-radius: 20px;
  padding: 20px;
}
.modal h2, .modal span{
  font-weight: 500;
  font-size: 2.5em;
  margin-top: 30px;
}
#button_back{
  border: 4px solid #e3ac10;
  background-color: #e3ac10;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  cursor: pointer;
}
